/* CUSTOM PROPS */
:root {
  --header-height: 85px;
  --footer-height: 70px;

  /* palette colori */
  --button-color: #0d6efd;
  --main-bg-color: #7fffd5;
  --even-bg-color: rgb(213, 33, 63);
  --odd-gb-color: #f7d716;
}

header .logo {
  min-width: 300px;
}

header .btn {
  padding: 3px 20px;
}

.wrapper {
  height: calc(100vh - var(--footer-height) - var(--header-height));
  background-color: var(--main-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cell-100 {
  height: calc(100% / 10);
  width: calc(100% / 10);
  border: 2px solid black;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell-81 {
  height: calc(100% / 9);
  width: calc(100% / 9);
  border: 2px solid black;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell-49 {
  height: calc(100% / 7);
  width: calc(100% / 7);
  border: 2px solid black;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.even {
  background-color: var(--even-bg-color);
}

.odd {
  background-color: var(--odd-gb-color);
}
